
*.dat
output/.DS_Store
output/kess_cs_0_settings_used.ini
output/kess_snap_cs_0_000_cdm.h5
output/kess_snap_cs_0_000_phi.h5
output/kess_snap_cs_0_000_pi_k.h5
output/kess_snap_cs_0_000_T00_Kess.h5
output/kess_snap_cs_0_001_cdm.h5
output/kess_snap_cs_0_001_phi.h5
output/kess_snap_cs_0_001_pi_k.h5
output/kess_snap_cs_0_001_T00_Kess.h5
output/kess_snap_cs_0_002_cdm.h5
output/kess_snap_cs_0_002_phi.h5
output/kess_snap_cs_0_002_pi_k.h5
gevolution
.DS_Store
*.h5
*.txt
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
output/gadget_snap/gadget2_cdm
output/gadget_snap/gadget2_cdm.0
output/gadget_snap/gadget2_cdm.1
output/gadget_snap/gadget2_cdm.10
output/gadget_snap/gadget2_cdm.11
output/gadget_snap/gadget2_cdm.12
output/gadget_snap/gadget2_cdm.13
output/gadget_snap/gadget2_cdm.14
output/gadget_snap/gadget2_cdm.15
output/gadget_snap/gadget2_cdm.16
output/gadget_snap/gadget2_cdm.2
output/gadget_snap/gadget2_cdm.3
output/gadget_snap/gadget2_cdm.4
output/gadget_snap/gadget2_cdm.5
output/gadget_snap/gadget2_cdm.6
output/gadget_snap/gadget2_cdm.7
output/gadget_snap/gadget2_cdm.8
output/gadget_snap/gadget2_cdm.9
output/lightcones/lcdm_lightcone_0114_cdm
output/lightcones/lcdm_lightcone_0115_cdm
output/lightcones/lcdm_lightcone_0116_cdm
output/lightcones/lcdm_lightcone_info.bin
